ZVC5K4_1005/JA_orarend.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="orarend" type="orarendType"/>
  <xs:complexType name="idopontType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="nap" use="optional"/>
        <xs:attribute type="xs:string" name="tol" use="optional"/>
        <xs:attribute type="xs:string" name="ig" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="oraType">
    <xs:sequence>
      <xs:element name="targy">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="WEB-es alkalmazások"/>
            <xs:enumeration value="Webtechnologiak 1"/>
            <xs:enumeration value="Adatkezeles XML-ben"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="idopontType" name="idopont" minOccurs="0"/>
      <xs:element name="helyszin">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Inf./101"/>
            <xs:enumeration value="XXX. eloado"/>
            <xs:enumeration value="I. eloado"/>
            <xs:enumeration value="Inf./103"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="oktato">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Dr. Krizsan Zoltan"/>
            <xs:enumeration value="Agardi Anita"/>
            <xs:enumeration value="Kunne Tamas Judit"/>
            <xs:enumeration value="Dr. Bednarik Laszlo"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="szak"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="tipus" use="optional"/>
  </xs:complexType>
  <xs:complexType name="orarendType">
    <xs:sequence>
      <xs:element type="oraType" name="ora" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
